body {
    margin: 0;
    font: 16px Arial;
}

header {
    width: 100%;
    padding: 2%;
    background-color: white;
    box-shadow: #D8D8D8 0px 2px 4px 0px;
    position: fixed;
}

article {
    padding: 7% 0 0;
}

.links-wrapper, article {
    width: 50%;
    margin: 0 auto;
}

p, h1 {
    margin: 3%;
}

a {
    text-decoration: none;
    padding: 7px;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    background-color: black;
    color:white;
    border-radius: 15px;
}

a:first-child {
    margin-left: -14px;
}